.adv
    min-height: 725px
    padding: 90px 0
    margin-bottom: 97px
    .title::before
        background-color: var(--local-orange)
    &__grid
        display: grid
        grid-template-columns: repeat(4, 263px)
        grid-template-rows: repeat(2, 201px)
        gap: 22px 30px
    &__outer-circle
        width: 113px
        height: 113px
        border: 1px solid var(--local-grey)
        border-radius: 50%
        padding: 10px
        margin: 0 auto 22px auto
    &__inner-circle
        border-radius: 50%
        width: 100%
        height: 100%
        background-color: var(--local-green)
        display: flex
        align-items: center
        justify-content: center
        box-shadow: 0 4px 13px 0 rgba(30, 35, 66, 0.11)
    &__descr
        font-weight: 400
        font-size: 18px
        line-height: 125%
        text-align: center
        color: #fff
    &__slider
        display: none
        height: 235px
        width: 263px
        margin: 0 auto
        flex-direction: column
        justify-content: space-between
    &__window
        width: 100%
        height: 203px
        overflow: hidden
    &__field
        width: 2104px
        display: flex
    &__dots
        position: relative
        width: 20px
        height: 20px
        cursor: pointer
        &::before
            box-sizing: border-box
            content: ''
            position: absolute
            width: 8px
            height: 8px
            top: 50%
            left: 50%
            border: 2px solid #fff
            border-radius: 50%
            transform: translate(-50%, -50%)
        &.active
            &::before
                background-color: #fff
        &-wrapper
            display: flex
            justify-content: space-between
            height: 20px