.delivery
    min-height: 597px
    margin-bottom: 100px
    --on-screen-slides: 3
    --number-of-slides: 5
    --slide-width: 360px
    --slide-gap: 30px
    --arrow-gap: -91px
    &__slider
        width: calc( (var(--slide-width) + var(--slide-gap)) * var(--on-screen-slides) - var(--slide-gap) )
        position: relative
    &__window
        overflow: hidden
        width: 100%
        margin-bottom: 20px
    &__field
        width: calc((var(--slide-width) + var(--slide-gap)) * var(--number-of-slides) - var(--slide-gap) )
        display: flex
        justify-content: space-between
    &__slide
        width: var(--slide-width)
        background-color: var(--local-dark-grey)
        border-radius: 20px
        overflow: hidden
        box-shadow: 5px 15px 40px 0 rgba(30, 35, 66, 0.15)
    &__img
        margin-bottom: 27px
    &__title
        font-weight: 700
        font-size: 22px
        line-height: 125%
        text-align: center
        color: #fff
        margin-bottom: 13px
    &__wrapper
        width: 212px
        height: 22px
        margin: 0 auto
        display: flex
        justify-content: space-between
        margin-bottom: 15px
    &__time-and-weight
        display: flex
        &-text
            font-weight: 400
            font-size: 16px
            line-height: 125%
            text-align: center
            color: #fff
            margin-left: 10px
    &__price
        height: 56px
        font-weight: 400
        line-height: 125%
        text-align: center
        color: #fff
        margin-bottom: 18px
        font-size: 45px
        span
            &.from
                color: #a3a3a3
                font-size: 22px
            &.number
                font-weight: 700
            &.dollar
                font-size: 22px
    &__btn
        width: 153px
        &-wrapper
            display: flex
            justify-content: space-between
            padding: 0 20px
            margin-bottom: 27px
    &__prev-arrow
        position: absolute
        left: var(--arrow-gap)
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
    &__next-arrow
        position: absolute
        right: var(--arrow-gap)
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
    &__dots
        position: relative
        width: 20px
        height: 20px
        cursor: pointer
        &::before
            box-sizing: border-box
            content: ''
            position: absolute
            width: 8px
            height: 8px
            top: 50%
            left: 50%
            border: 2px solid #fff
            border-radius: 50%
            transform: translate(-50%, -50%)
        &.active
            &::before
                background-color: #fff
        &-wrapper
            width: calc( var(--number-of-slides) * (8px + 26px) - 26px + 12px)
            margin: 0 auto 
            display: none
            justify-content: space-between
            height: 20px