.header
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin: 25px 0
    &__link
        font-weight: 400
        font-size: 16px
        line-height: 146%
        color: #fff
        text-decoration: none
        &-wrapper
            display: flex
            justify-content: space-between
            width: 602px
    &__btn
        width: 171px