.services
    min-height: 794px
    margin-bottom: 61px
    padding: 97px 0 60px 0
    .title
        margin-bottom: 10px
        &::before
            background-color: var(--local-orange)
    &__prev-arrow
        position: absolute
        left: var(--arrow-gap)
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
    &__next-arrow
        position: absolute
        right: var(--arrow-gap)
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
    &__slider
        height: 562px
        width: calc((var(--slide-width) + var(--slide-gap)) * var(--on-screen-slides) - var(--slide-gap))
        position: relative
        --on-screen-slides: 3
        --number-of-slides: 4
        --fake-slides: 0
        --slide-width: 360px
        --slide-gap: 30px
        --arrow-gap: -91px
    &__window
        overflow-x: hidden
        width: 100%
        padding: 40px 0
    &__field
        width: calc((var(--slide-width) + var(--slide-gap)) * (var(--number-of-slides) + var(--fake-slides) * 2) - var(--slide-gap) )
        transition: all 0.5s
        display: flex
        justify-content: space-between
    &__slide
        width: var(--slide-width)
        height: 482px
        border-radius: 20px
        overflow: hidden
        box-shadow: var(--shadow)
        padding: 250px 23px 33px 30px
        display: flex
        flex-direction: column
        justify-content: space-between
        &.slide-bg
            &_1
                background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url('../img/service_slider/service_slider_1.jpg') center center / cover no-repeat
            &_2
                background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url('../img/service_slider/service_slider_2.jpg') center center / cover no-repeat
            &_3
                background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url('../img/service_slider/service_slider_3.jpg') center center / cover no-repeat
            &_4
                background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url('../img/service_slider/service_slider_4.jpg') center center / cover no-repeat
    &__title
        font-weight: 700
        font-size: 22px
        line-height: 125%
        color: #fff
    &__descr
        font-weight: 400
        font-size: 15px
        line-height: 125%
        color: #fff
    &__btn
        width: 153px
    &__dots
        position: relative
        width: 20px
        height: 20px
        cursor: pointer
        &::before
            box-sizing: border-box
            content: ''
            position: absolute
            width: 8px
            height: 8px
            top: 50%
            left: 50%
            border: 2px solid #fff
            border-radius: 50%
            transform: translate(-50%, -50%)
        &.active
            &::before
                background-color: #fff
        &-wrapper
            width: calc( var(--number-of-slides) * (8px + 26px) - 26px + 12px)
            margin: 0 auto 
            display: none
            justify-content: space-between
            height: 20px