.btn
    border-radius: 90px
    text-align: center
    color: #fff
    cursor: pointer
    background-color: var(--local-orange)
    border: none
    line-height: 146%
    font-weight: 600
    transition: all 0.5s
    &:hover
        background-color: #fff
        color: var(--local-orange)
    &.fz-15
        font-size: 15px
        height: 50px
    &.fz-16
        font-size: 16px
        height: 68px
    &.transparent
        border: 1px solid var(--local-orange)
        border-radius: 90px
        background-color: unset
    &_arrow
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 20px 0 33px