.title
    position: relative
    font-weight: 700
    font-size: 36px
    line-height: 125%
    text-transform: uppercase
    color: #fff
    text-align: center
    padding-bottom: 21px
    margin-bottom: 50px
    &::before
        content: ''
        position: absolute
        width: 85px
        height: 2px
        background-color: var(--local-green)
        bottom: 0
        left: 50%
        transform: translateX(-50%)
    .subtitle
        font-weight: 400
        font-size: 24px